/*sacdo de https://css-pattern.com/chevron-stripes/ */
html {
    --s: 79px; /* control the size*/
    --c1: #f4edd7;
    --c2: #0b486b;
    
    --g: calc(var(--s)/5); /* control the gap */
    --_l: #0000 calc(33% - .866*var(--g)),var(--c1) calc(33.2% - .866*var(--g)) 33%,#0000 34%;
    background:
      repeating-linear-gradient(var(--c1) 0 var(--g), #0000 0 50%)
       0 calc(.866*var(--s) - var(--g)/2),
      conic-gradient(from -150deg at var(--g) 50%,var(--c1) 120deg,#0000 0),
      linear-gradient(-120deg,var(--_l)),linear-gradient( -60deg,var(--_l))
      var(--c2);
    background-size: var(--s) calc(3.466*var(--s))
  }


body{
margin: 0;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
display: flex;
justify-content: center;
align-items: center;
/* min-height: 100svh; /*Small Viewport Height  */
font-size: large;
    
}

.form-container{
width: 500px;
background-color: aliceblue;
border-radius: 10px;
padding: 50px;

}

form{
display: flex;
flex-direction: column;
gap: 10px;
}

form+p, form p{
text-align: center;

}

input, button{
border-radius: 4px;
border: unset;
padding: 15px 30px;
font-size: large;

}

button{
background-color: blue; 
color: aliceblue;
font-weight: bold;
cursor: pointer;    
}

.error{
color: brown;


}

.invisible_visible{
display: none;

}

.sr-only{
position: absolute;
left: -10000px;
top: auto;
width: 1px;
height: 1px;
overflow: hidden;
}
